@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AREA</h1>
    <a>You need to be connected first to manage your services.</a>
    <img src="https://svgsilh.com/png-512/2647471.png">
</div>